html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: #eee;
    max-width: 1200px;
    margin: 10px auto;
}

.header-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#dashboard-header h1 {
    font-size: 28px;
    color: #494949;
    display: flex;
    align-items: center;
}

.logos img {
    max-height: 68px;
}

.logos {
    min-width: 22%;
}

h5 {
    font-size: 16px;
    color: #696969;
    margin: 6px 0;
}

#dashboard-header h6 {
    margin: 0;
    color: #494949;
    display: block;
    width: 100%;
}

.event {
    background-color: white;
    display: block;
    width: 30%;
    text-align: center;
    height: 278px;
    margin: 0 10px;
}

#dashboard-header {
    padding: 20px;
    background-color: white;
    color: #f5f5f5;
    font-weight: bolder;
    display: flex;
    margin: 12px 0;
}

#dashboard-header h1 {
    margin: 0;
}

.content {
    display: flex;
    min-height: 100%;
    height: auto;
}

#sources,
#information {
    padding: 10px 20px;
}

#sources {
    background-color: #494949;
    width: 20%;
    min-width: 220px;
}

#information {
    background-color: white;
    width: 80%;
    margin-left: 12px;
}

#sources header, #sources .type-source {
    color: white;
    margin: 6px 0;
    font-family: "Roboto", sans-serif;
}

#sources header {
    display: flex;
    justify-content: space-between;
}

.hide-desktop{
    display: none !important;
}

#selector header{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: 3px solid;
    margin-bottom: 18px;
}

#sources .type-source {
    font-size: 14px;
    font-weight: lighter;
    border-bottom: 1px solid white;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

#sources header {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 3px solid white;
}

#information header {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    border-bottom: 3px solid white;
    color: #494949;
    margin: 6px 0;
    font-family: "Roboto", sans-serif;
}

#information header ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    border-bottom: 2px solid #494949;
}

#information header ul li{
    cursor: pointer;
}

.tab{
    margin-right: 18px;
}

.active-tab{
    border-bottom: 2px solid #494949;
}

.bulo-tab{
    background-color: #D0021B !important;

}
.bulo-tab header{
    color: white !important;
}

.bulo-tab header ul{
    border-bottom: 2px solid white !important;
}

.bulo-tab .active-tab{
    border-bottom: 2px solid white;
}

.sources-wrap {
    margin: 10px 0;
}

.image-source {
    cursor: pointer;
    border-radius: 50%;
    max-width: 42px;
    padding: 5px;
}

#data-displayer, .bulo-displayer {
    height: 100%;
    margin: auto auto;
}

.bulo-displayer{
    display: none;
}

.info-image {
    width: 64px;
    border-radius: 50%;
}

.info-element, .bulo-element, .search-element {
    margin: 0 20px;
    border-bottom: 1px solid #808080;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    align-items: center;
}

.info-content {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.info-content p{
    margin: 0;
}

.information-date{
    font-size: 12px;
    color: gray;
}

.deactivated {
    opacity: 0.1;
}

#search-dialog{
    display: none;
    margin-bottom: 24px;
}

#content-dialog {
    width: 95%;
    min-height: 80%;
    height: auto;
    z-index: 54;
    background-color: white;
    left: 2.5%;
    position: absolute;
    display: none;
}


#close-dialog {
    position: absolute;
    right: 12px;
    top: 12px;
    color: gray;
}
.dialog-title, .dialog-content{
    font-family: "Roboto", sans-serif;
    padding: 20px 40px;
}
.dialog-title{
    font-weight: bolder;
}
.dialog-content{
    white-space: pre-line;
}
.search-field{
    padding: 6px 1%;
    margin: 0 0 20px 0;
    width: 98%;
    font-size: 14px;
    height: 20px !important;
    font-family: "Roboto", sans-serif;
}
#selector{
    background-color: white;
    width: auto;
    min-height: 82%;
    padding: 20px;
}

#selector-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image-event{
    height: 180px;
    background-size: cover;
}
.event-link{
    text-decoration: none;
}
.event-name{
    font-size: 26px;
    margin: 12px 0 0 0;
    font-weight: bold;
    color: black;
}
.event-name:visited{
    color: black;
}
.event-date{
    margin: 0;
    text-transform: uppercase;
    color: gray;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
#search-form{
    display: flex;
    align-items: baseline;
}
.search-submit{
    padding: 10px;
    margin: 6px;
    background-color: whitesmoke;
}
.search-element{
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

.bulo-element .information-content{
    color: white;
    width: 100%;
    font-weight: bolder;
}

.bulo-element .information-date{
    color: #d0d0d0;
}

#check-displayer header{
    margin-top: 24px;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
}


.text-bulo-send {
    width: 99%;
}

.send-to-maldita{
    width: 100%;
    background-color: #494949;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
}

#search-dialog header p{
    margin: 0;
}

#search-dialog header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bulo-search-result .info-image-wrap{
    display: none;
}

.bulo-search-result .info-content{
    width: 100%;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
}

.bulo-search-result{
    background-color: #D0021B !important;
}

@media only screen and (max-width: 600px)  {

    #dashboard-header{
        flex-direction: column;
        align-items: center;
    }

    .content{
        flex-direction: column;
    }

    #sources{
        width: 90%;
        margin: 0 auto 10px auto;
    }

    #information{
        width: 90%;
        margin: 0 auto;
    }

    .sources-wrap{
        display: none;
    }

    .hide-desktop{
        display: inherit !important;
    }

    .info-image-wrap{
        margin-right: 12px;
    }
}
